doctype html
html
	head
		title Test case
		meta(charset="utf-8")
		meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0")
		link(rel="stylesheet", type="text/css", href="/css/common.css")
		script(data-main="/js/main" src="/js/lib/require.js")
	body
		#content

		include loader
		include main
		include menu
		include page