script#menu-template(type="text/template")
	.wrapper
		nav
			a.logo(href="#content") Main
			ul
				li: a(href="#first") First
				li: a(href="#second") Second
				li: a(href="#third") Third
				li: a(href="#fourth") Fourth